.img-es {
  width: 400px;
  height: 200px;
  border-radius: 20px;
}
.img-container {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(to right,#dc0000a2,#ecf0ed, #1717ffb6);
}

mat-expansion-panel-header{
    background-color: rgb(139, 4, 4);
    color: white;
    font-size: 20px;
}
/* From cssbuttons.io by @alexroumi */
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

button:hover {
  color: #e8e8e8;
}

button:hover::before {
  width: 100%;
}

.boton-link{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,#dc0000a2,#ecf0ed, #1717ffb6);
}
.lista{
    margin-top: 70px;
}

